* {
	padding: 0;
	margin: 0;
}
html{
	/*禁止文本缩放*/
	-webkit-text-size-adjust: 100%;
}
body{
	/*清除安卓机上a标签的阴影*/
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
     -moz-tap-highlight-color:rgba(0, 0, 0, 0);
     -ms-tap-highlight-color:rgba(0, 0, 0, 0);
     -o-tap-highlight-color:rgba(0, 0, 0, 0);
     tap-highlight-color:rgba(0, 0, 0, 0);
     /*禁止微信内置浏览器调整字体大小*/
    -webkit-text-size-adjust: 100% !important;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

a {
	text-decoration: none;
	/*取消a标签的默认高亮框*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
	list-style-type: none;
}

input,textarea,select {
	/*移动端如何清除输入框内阴影在iOS上，输入框默认有内部阴影，但无法使用 box-shadow 来清除，如果不需要阴影，可以这样关闭*/
	-webkit-appearance: none;
	border: none;
	outline: 0;
}
textarea{
	/*清除textarea右下角的默认样式*/
	resize:none;
}
/*隐藏滚动条*/
::-webkit-scrollbar{
  display:none;
}

/*焦点在 input 时，placeholder 没有隐藏*/
input:focus::-webkit-input-placeholder{ opacity: 0;}
/*设置输入框placeholder字体样式*/
::-moz-placeholder { color: #A9A9A9; font-family: "PingFangTC-Light";}
::-webkit-input-placeholder { color:#A9A9A9; font-family: "PingFangTC-Light";}
::-ms-input-placeholder { color:#A9A9A9; font-family: "PingFangTC-Light";}

/*如果没有图片,取消图片的默认边框*/
img[src=""] {
	opacity: 0;
	width: 0;
	height: 0;
}

/*清除button按钮的默认边框*/
button{
	border: none;
}

.cmOverflow{
	overflow: hidden;
}
.cmFloatLeft{
	float: left;
}
.cmFloatRight{
	float: right;
}

/*弹性布局属性*/

.flex {
	display: box;
	/* OLD - Android 4.4- */
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	/* 子元素-平均分栏 */
	/* 父元素-横向排列（主轴） */
	/* 父元素-纵向排列（主轴） */
	/* 父元素-换行 */
	/* 父元素-水平居中（主轴是横向才生效） */
	/* 父元素-水平居右（主轴是横向才生效） */
	/* 父元素-水平居左（主轴是横向才生效） */
	/* 父元素-水平两端对齐（主轴是横向才生效） */
	/* 父元素-竖直居中（主轴是横向才生效） */
	/* 父元素-竖直居顶（主轴是横向才生效） */
	/* 父元素-竖直居底（主轴是横向才生效） */
	/* 父元素-项目被拉伸以适应容器（主轴是横向才生效） */
	/* 父元素-项目位于容器的基线上（主轴是横向才生效） */
}

.flex._row {
	/* 09版 */
	-webkit-box-orient: horizontal;
	/* 12版 */
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.flex._column {
	/* 09版 */
	-webkit-box-orient: vertical;
	/* 12版 */
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.flex._wrap {
	/* 09版 */
	box-lines: multiple;
	-webkit-box-lines: multiple;
	/* 12版 */
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex._nowrap {
	/* 09版 */
	box-lines: single;
	-webkit-box-lines: single;
	/* 12版 */
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.flex._row-center {
	/* 09版 */
	-webkit-box-pack: center;
	/* 12版 */
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

.flex._row-start {
	/* 09版 */
	-webkit-box-pack: start;
	/* 12版 */
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
}

.flex._row-end {
	/* 09版 */
	-webkit-box-pack: end;
	/* 12版 */
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
}

.flex._row-justify {
	/* 09版 */
	-webkit-box-pack: justify;
	/* 12版 */
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

.flex._row-middle {
	/* 09版 */
	-webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.flex._row-top {
	/* 09版 */
	-webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;
}

.flex._row-bottom {
	/* 09版 */
	-webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;
}

.flex._row-stretch {
	/* 09版 */
	-webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: flex-stretch;
	-moz-align-items: flex-stretch;
	-ms-align-items: flex-stretch;
	-o-align-items: flex-stretch;
	align-items: flex-stretch;
}

.flex._row-baseline {
	/* 09版 */
	-webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: flex-baseline;
	-moz-align-items: flex-baseline;
	-ms-align-items: flex-baseline;
	-o-align-items: flex-baseline;
	align-items: flex-baseline;
}


/*栅格系统*/
.col-3 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.33333%;
	-ms-flex: 0 0 33.33333%;
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}
.col-6{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
/*ipone5-竖屏*/
@media screen and (max-width:320px) {
}

/*galaxy 5s-竖屏*/
@media screen and (min-width:321px) and (max-width:360px) {
}

/*ipone6-竖屏*/
@media screen and (min-width:361px) and (max-width:375px) {
}
/*Nexus 5X 、6p-竖屏*/
@media screen and (min-width:376px) and (max-width:412px) {
}
/*ipone6Plue-竖屏*/
@media screen and (min-width:413px) and (max-width:414px){}

/*iped-竖屏*/
@media screen and (min-width:415px) and (max-width:768px) {

}
/*iped ipo-竖屏*/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
}
/*PC*/
@media only screen and (min-width: 1024px){

}